/**************
 * CONTAINERS *
 **************/

.containers {
  position: relative;
  margin: 0 20px 0 20px;
}

.container-application-conn {
  margin-top: clamp(48px, calc(8vw + (1000px - 100%) * -0.2), 80px);
}

.container-sponsors {
  margin-top: clamp(70px, calc(18vw + (1000px - 100%) * -0.2), 180px);
}

.container-advantages {
  display: flex;
  justify-content: center;
  margin-top: clamp(70px, calc(13vw + (1000px - 100%) * -0.2), 130px);
}

.container-advantages {
  margin-bottom: clamp(70px, calc(13vw + (1000px - 100%) * -0.1), 130px);
}

.container-advantages::before {
  content: url(/assets/img/advantages-bg.svg);
  position: absolute;
}

/********************
 * APPLICATION-CONN *
 ********************/

.application-conn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.application-conn__title {
  font-size: 55px;
  font-weight: 700;
}

.application-conn__description {
  margin-top: clamp(25px, calc(4.2vw + (1000px - 100%) * -0.2), 42px);
  font-size: 18px;
  font-weight: 400;
}

.application-conn__form {
  margin-top: clamp(30px, calc(5.7vw + (1000px - 100%) * -0.2), 57px);
}

.application-conn__form form {
  display: flex;
  gap: 20px;
}

.application-conn__form input,
.application-conn__form button {
  width: clamp(300px, 44.2vw, 442px);
  height: 84px;
  padding: 18px 50px;
}

.application-conn__form input {
  text-align: center;
}

/************
 * SPONSORS *
 ************/

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  row-gap: 30px;
}

/**************
 * ADVANTAGES *
 **************/

.advantages {
  position: relative;
  display: flex;
  align-items: center;
  gap: 65px;
}

.advantages__item,
.advantages__items-left,
.advantages__items-right {
  display: flex;
  flex-direction: column;
}

.advantages__items-left .advantages__item:first-child img {
  width: clamp(71px, 9.5vw, 95px);
  height: clamp(62px, 8.4vw, 84px);
}

.advantages__items-left .advantages__item:last-child img {
  width: clamp(79px, 14.4vw, 114px);
  height: clamp(61px, 9.5vw, 95px);
}

.advantages__items-right .advantages__item img {
  width: clamp(79px, 9.5vw, 95px);
  height: clamp(74px, 9vw, 90px);
}

.advantages__items-left {
  gap: 600px;
}

.advantages__item__title {
  margin-top: 25px;
  font-size: 34px;
  font-weight: 500;
}

.advantages__item__description {
  margin-top: 18px;
  font-size: 16px;
}

.advantages__item__list {
  margin-top: 15px;
}

.advantages__item__list h2 {
  font-weight: 600;
}

.advantages__item__list ul {
  margin-top: 14px;
}

/**********
 * @MEDIA *
 **********/

@media (max-width: 1000px) {

  /*************
 * CONTAINER *
 *************/
  .container-advantages::before {
    content: url(/assets/img/advantages-mobile-bg.svg);
    position: absolute;
    bottom: 25px;
    right: -20px;
  }

  /**************
 * ADVANTAGES *
 **************/
  .advantages {
    flex-direction: column;
    align-items: flex-start;
  }

  .advantages,
  .advantages__items-left {
    gap: 60px;
  }
}

@media (max-width: 900px) {
  .application-conn__title br {
    display: none;
  }
}

/* Планшеты */
@media (max-width: 768px) {
  .application-conn__description br {
    display: none;
  }

  .application-conn__form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .application-conn__form input {
    margin: 0;
  }
}

/* Моб. устройства */
@media (max-width: 600px) {
  .application-conn__title {
    font-size: 28px;
  }

  .application-conn__description {
    font-size: 15px;
  }

  .advantages__item__title {
    font-size: 23px;
  }

  .advantages__item__description,
  .advantages__item__list {
    font-size: 14px;
  }
}