/********************
 * APPLICATION-CONN *
 ********************/

.application-conn {
  margin: 78px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.application-conn__title {
  font-size: 55px;
  font-weight: 700;
}

.application-conn__title span {
  color: #01C201;
}

.application-conn__description {
  margin-top: 42px;
  font-size: 18px;
  font-weight: 400;
}

.application-conn__from {
  margin-top: 57px;
}

.application-conn__from input {
  margin-right: 20px;
  width: 350px;
  text-align: center;
}

/************
 * SPONSORS *
 ************/

.sponsors {
  display: flex;
  justify-content: center;
  margin: 180px 50px 0 50px;
}

/**************
 * ADVANTAGES *
 **************/

.advantages {
  position: relative;
  margin: 130px auto 0 auto;
  width: 1000px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.advantages::after {
  content: url(/assets/img/advantages-bg.svg);
  position: absolute;
}

.advantages__item-indent {
  margin-top: 95px;
}

.advantages__item__title {
  margin-top: 25px;
  font-size: 34px;
  font-weight: 500;
}

.advantages__item__title span {
  color: #34BF34;
}

.advantages__item__description {
  margin-top: 18px;
  font-size: 16px;
}

.advantages__item__description-line {
  line-height: 182%;
}

.advantages__item__list {
  margin-top: 15px;
}

.advantages__item__list span {
  font-weight: 600;
}

.advantages__item__list ul {
  margin-top: 14px;
}

/**********
 * @MEDIA *
 **********/

@media (max-width: 1000px) {
  .advantages {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    margin: 130px 10px 0 10px;
  }

  .advantages::after {
    content: url(/assets/img/advantages-mobile-bg.svg);
    position: absolute;
    right: 0;
    top: 20px
  }
}

@media (max-width: 900px) {
  .application-conn__title br {
    display: none;
  }
}

/* Планшеты */
@media (max-width: 768px) {
  .application-conn__description br {
    display: none;
  }

  .application-conn__from form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .application-conn__from input {
    margin: 0;
  }
}

/* Моб. устройства */
@media (max-width: 600px) {
  .application-conn__title {
    font-size: 28px;
  }

  .application-conn__description {
    font-size: 15px;
  }

  .advantages__item__title {
    font-size: 23px;
  }

  .advantages__item__description,
  .advantages__item__list {
    font-size: 14px;
  }
}