.target {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #FFFFFF66;
  border-radius: 20px;
  width: min(1200px, 100%);
  padding: 50px 40px;
  gap: 22px;
}

.target::before {
  position: absolute;
  content: url(../image/rocket.png);
  left: 0;
  top: 10%;
}

.target__title {
  position: relative;
  font-size: clamp(28px, 6vw, 40px);
  font-weight: 700;
}

.target__title::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 28px;
  top: 11px;
  left: -15px;
  background-color: #34BF34;
}

.target__description {
  text-align: center;
  font-size: clamp(15px, 6vw, 18px);
  line-height: 24px;
  width: min(674px, 100%);
}