/**************
 * CONTAINERS *
 **************/

.containers {
  margin-top: clamp(40px, calc(10vw + (1000px - 100%) * -0.2), 100px);
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: clamp(70px, calc(14vw + (1000px - 100%) * -0.2), 140px);
}

.container-target {
  margin-top: clamp(95px, calc(13vw + (1000px - 100%) * -0.2), 130px);
  display: flex;
  justify-content: center;
}

.container-product {
  margin-top: clamp(70px, calc(13vw + (1000px - 100%) * -0.2), 130px);
}