/**************
 * CONTAINERS *
 **************/

.containers {
  margin: 0 20px 0 20px;
}

.container__products {
  margin-top: clamp(30px, calc(9vw + (1000px - 100%) * -0.2), 90px);
}

.container__important,
.container__service {
  margin: clamp(70px, calc(13vw + (1000px - 100%) * -0.2), 130px) auto 0 auto;
}

.container__advantages,
.container__useful,
.container__directions,
.container__employ,
.container__data {
  margin-top: clamp(70px, calc(13vw + (1000px - 100%) * -0.1), 130px);
}

/*********
 * MEDIA *
 *********/

@media (max-width: 1140px) {
  .useful__items {
    flex-direction: column;
  }

  .useful__item {
    width: 100%;
  }
}

@media (max-width: 900px) {

  /* IMPORTANT */

  .important__items {
    flex-direction: column;
  }

  .important__postscript {
    display: none;
  }

  /* ADVANTAGES */
  .advantages__items {
    flex-direction: column;
    align-items: flex-start;
  }

  /* DIRECTIONS */
  .directions {
    background-image: none;
  }

  .directions__items {
    flex-direction: column;
    gap: 50px;
  }

  .directions__items-left {
    align-items: flex-start;
    text-align: unset;
  }

  .directions__items-right {
    gap: 50px;
  }

  /* EMPLOY */
  .employ__items {
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  /* PRODUCT */
  .product__items {
    display: none;
  }

  .product__mobile {
    display: block !important;
  }

  .product__mobile__item {
    align-items: flex-start;
    gap: 15px;
  }

  .product__mobile__item__preview {
    color: #01C201;
  }

  .product__mobile__item__preview br {
    display: none;
  }

  /* DATA */
  .data__items {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {

  /* USEFUL */
  .useful__item {
    width: 100%;
  }
}

@media (max-width: 480px) {

  /* PRODUCTS */
  .products {
    align-items: flex-start;
  }

  /* IMPORTANT */
  .important {
    align-items: flex-start;
  }

  /* ADVANTAGES */
  .advantages {
    align-items: flex-start;
  }

  .advantages__adv {
    display: none;
  }

  .advantages__items {
    margin-top: 20px;
  }

  .advantages__item img {
    width: 55px!important;
    height: 60px!important;
  }

  .advantages__item__info br {
    display: none;
  }

  /* USEFUL */
  .useful {
    align-items: flex-start;
  }

  .useful__items {
    margin-top: 20px;
  }

  /* DIRECTIONS */
  .directions {
    align-items: flex-start;
  }

  .directions__title {
    text-align: left;
  }

  .directions__items {
    margin-top: 25px;
  }

  .directions__items-left,
  .directions__items-right {
    width: 100%;
  }

  .directions__items-left {
    gap: 10px;
  }

  .directions__item__title {
    font-size: 23px;
  }

  .directions__item__description {
    font-size: 14px;
  }

  /* EMPLOY */
  .employ {
    align-items: flex-start;
    gap: 25px;
  }

  .employ__item {
    align-items: flex-start;
    text-align: unset;
  }

  .employ__item br {
    display: none;
  }

  /***********
 * SERVICE *
 ***********/
  .service {
    align-items: flex-start;
    text-align: unset;
  }

  .service__title {
    display: none;
  }

  .service__title__mobile {
    display: block !important;
  }
}