/**************
 * CONTAINERS *
 **************/

.containers__products {
  margin: 90px 10px 0 10px;
}

.containers__important {
  width: 90%;
  margin: 130px auto 0 auto;
}

.containers__advantages {
  margin: 130px 10px 0 10px;
}

/*********
 * MEDIA *
 *********/

@media (max-width: 1040px) {
  .product__items {
    grid-template-columns: auto 400px
  }
}

@media (max-width: 900px) {

  /* IMPORTANT */
  .important {
    align-items: center;
    padding: 40px 20px;
  }

  .important__item__box {
    flex-direction: column;
    gap: 10px;
  }

  .important__postscript {
    display: none;
  }

  /* ADVANTAGES */
  .advantages__items {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .advantages__item__info h1 {
    font-size: 22px;
  }

  .advantages__item__info span {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .product__items {
    display: none;
  }

  .product__mobile {
    display: block !important;
  }

  .product__mobile__item {
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .product__title {
    font-size: 25px;
  }
}

@media (max-width: 480px) {

  /* IMPORTANT */
  .important {
    align-items: flex-start;
  }

  .important__title {
    font-size: 28px;
  }

  .important__item__number {
    font-size: 28px;
  }

  /* ADVANTAGES */
  .advantages {
    align-items: flex-start;
  }

  .advantages__title {
    font-size: 28px;
  }

  .advantages__adv {
    display: none;
  }

  .advantages__item img {
    width: 67px;
    height: 85px;
  }
}