/***********
 * PRODUCT *
 ***********/

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products__title {
  font-size: clamp(28px, 6vw, 40px);
  font-weight: 700;
}

.products__description {
  font-size: clamp(16px, 6vw, 18px);
  text-align: center;
  margin-top: 18px;
}

.products-items {
  margin-top: clamp(25px, calc(5.5vw + (1000px - 100%) * -0.2), 55px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.products-item {
  padding: 55px 30px 80px 30px;
  display: flex;
  flex-direction: column;
  background-color: #1D1D1D;
  border-radius: 40px;
  max-width: 388px;
  min-height: 510px;
}

.products-item__title {
  font-size: clamp(25px, 6vw, 30px);
  font-weight: 600;
  text-align: center;
}

.products-item__description {
  margin-top: 55px;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}

.products-items .products-item:last-child .products-item__description {
  margin-top: 90px;
}

.products__item__btn {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF80;
  margin-top: 20px;
  text-align: left;
}