/*******
 * MAP *
 *******/

.map {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: min(1200px, 100%);
  min-height: 477px;
  background-image: url('/assets/img/map.png');
  background-repeat: no-repeat;
  border-radius: 30px;
  padding-right: 20px;
}

.map-info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #262626;
  border-radius: 26px;
  padding: 70px;
}

.map-info__title {
  font-size: 28px;
  font-weight: 700;
}

.map-info ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.map-info ul li {
  position: relative;
}

.map-info ul li:first-child::before {
  content: url("/assets/img/point.png");
  position: absolute;
  left: -25px;
}

.map-info ul li:nth-child(2)::before {
  content: url("/assets/img/mail.png");
  position: absolute;
  left: -26px;
}

.map-info ul li:last-child:before {
  content: url("/assets/img/phone.png");
  position: absolute;
  left: -23px;
}