/*********************
 * LIST-TECHNOLOGIES *
 *********************/

.list-technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.list-technologies__title {
  font-size: clamp(28px, 6vw, 40px);
  font-weight: 700;
}

.list-technologies__description {
  margin-top: 15px;
  font-size: clamp(16px, 6vw, 18px);
  line-height: 28px;
  width: min(1002px, 100%);
}

.list-technologies__list {
  margin-top: clamp(70px, calc(13vw + (1000px - 100%) * -0.2), 130px);
  width: min(1200px, 100%);
}

.list-technologies__list__title {
  margin-bottom: clamp(35px, calc(5.5vw + (1000px - 100%) * -0.2), 55px);
  font-size: clamp(20px, 6vw, 24px);
  font-weight: 600;
}

.list-technologies__list__items,
.list-technologies__items-more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
}

.list-technologies__list__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  min-height: 92px;
  padding: 15px clamp(20px, 2.5vw, 25px);
  border: 0.5px solid #8C8C8C;
  border-radius: 20px;
}

.list-technologies__list__item p {
  font-size: clamp(14px, 6vw, 18px);
}

