/************
 * PRODUCTS *
 ************/

.products {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products__item h1,
.products__mobile-item {
  border-radius: 20px;
}

.products__title {
  font-size: clamp(25px, 6vw, 40px);
  font-weight: 700;
}

.products__item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: min(900px, 100%);
  gap: 50px;
  margin-top: 55px;
}

.products__item h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #34BF34;
  min-width: 311px;
  height: 211px;
}

.products__item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.products > div:nth-child(4) div {
  justify-content: center;
}

.products__item div p {
  line-height: clamp(25px, 3.2vw, 32px);
}

.products__item__btn {
  margin-top: 15px;
  text-align: left;
  font-size: 18px;
  color: #FFFFFF80;
}

.products__mobile-item {
  flex-direction: column;
  background-color: #1A1A1A;
  margin-top: 15px;
  padding: 30px clamp(15px, 4vmin, 25px);
  gap: 15px;
}

.products__mobile-item h1 {
  font-size: 25px;
  font-weight: 600;
}

.products__mobile-item p {
  font-size: 15px;
}

.products__item h1:hover {
  background-color: #1A1A1A;
}