/**********
 * EMPLOY *
 **********/

.employ,
.employ__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.employ {
  gap: clamp(25px, 7vw, 70px);
}

.employ__title {
  font-size: clamp(26px, 6vw, 40px);
  font-weight: 600;
}

.employ__items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: clamp(40px, calc(10vw + (1000px - 100%) * -0.2), 100px);
}

.employ__item {
  text-align: center;
  gap: 15px;
}

.employ__item img {
  width: 34px;
  height: 34px;
}

.employ__item__description {
  font-size: 22px;
}

.employ__item__poscript {
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF99;
}