/**************
 * DIRECTIONS *
 **************/

.directions__item__description ul {
  display: flex;
}

.directions__item__description ul {
  flex-direction: column;
}

.directions__item,
.directions__items-left {
  gap: 20px;
}

.directions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../image/directions-bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.directions__title {
  font-size: clamp(26px, 6vw, 40px);
  font-weight: 700;
  text-align: center;
}

.directions__items {
  display: flex;
  margin-top: 55px;
  flex-direction: row;
  gap: 150px;
}

.directions__items-left,
.directions__items-right {
  width: 350px;
}

.directions__items-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.directions__items-right {
  display: flex;flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 390px;
}

.directions__item {
  display: flex;
  flex-direction: column;
}

.directions__item__title {
  font-size: 22px;
  font-weight: 500;
}

.directions__item__description {
  font-size: 16px;
  line-height: 24px;
}

.directions__item__description ul {
  gap: 10px;
}