/***********
 * SERVICE *
 ***********/

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, 5vw, 40px);
  background-color: #273927;
  border-radius: 20px;
  padding: clamp(35px, 4vmin, 60px) clamp(20px, 4vmin, 45px);
  width: min(845px, 100%);
  text-align: center;
}

.service__title {
  font-size: clamp(26px, 7vw, 40px);
  font-weight: 500;
}

.service__title__mobile {
  font-size: 28px;
  font-weight: 700;
}

.service__description {
  font-size: clamp(15px, 6vw, 17px);
}