/*************
 * IMPORTANT *
 *************/

.important {
  background-color: #1D1D1D;
  border-radius: 20px;
  padding: clamp(20px, 5vw, 70px) clamp(20px, 3vw, 30px);
  width: min(1264px, 100%);
}

.important__title {
  font-size: clamp(28px, 7vw, 40px);
  font-weight: 700;
}

.important__items {
  width: 100%;
  gap: clamp(20px, calc(10vw + (1000px - 100%) * -0.4), 100px);
  margin-top: 30px;
}

.important__item {
  align-items: flex-start;
  gap: 10px;
}

.important__item__number {
  font-size: clamp(28px, 7vw, 42px);
  font-weight: 600;
  color: #34BF34;
}

.important__item__description {
  font-size: clamp(18px, 4vw, 20px);
  line-height: clamp(25px, 3.2vw, 32px);
}

.important__postscript {
  text-align: center;
  margin-top: 45px;
  font-size: 16px;
  color: #FFFFFF80;
}