/************
 * PRODUCTS *
 ************/

.products,
.product__items,
.product__items__preview,
.product__mobile__item {
  display: flex;
  align-items: center;
}

.products,
.product__mobile__item {
  flex-direction: column;
}

.product__title {
  font-size: 40px;
  font-weight: 700;
}

.product__items {
  display: grid;
  grid-template-columns: auto 647px;
  gap: 50px;
  margin-top: 55px;
}

.product__items__preview {
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  color: #01C201;
  border: 1px solid #34BF34;
  border-radius: 20px;
  width: 311px;
  height: 211px;
}

.product__mobile__item {
  border-radius: 20px;
  background-color: #1A1A1A;
  margin-top: 15px;
  padding: 30px 20px;
}

.product__mobile__item__preview {
  font-size: 25px;
  font-weight: 600;
  color: #01C201;
}

.product__mobile__item__description {
  font-size: 15px;
}

.product__items__preview:hover {
  background-color: #1A1A1A;
}